<mat-card class="example-card p-5 mb-5 rounded-xl h-72 w-60" >
  <span *ngIf="product?.availability?.id===1" class="inline-block py-1 px-2 w-full leading-none text-sm text-center whitespace-nowrap align-baseline font-bold bg-green-700 text-white ">DISPONIBLE</span>

  <span *ngIf="product?.availability?.id===2" class="inline-block py-1 px-2 w-full leading-none text-sm text-center whitespace-nowrap align-baseline font-bold bg-yellow-700 text-white ">PREORDEN</span>

  <span *ngIf="product?.availability?.id===3" class="inline-block py-1 px-2 w-full leading-none text-sm text-center whitespace-nowrap align-baseline font-bold bg-red-700 text-white ">AGOTADO</span>

    <img mat-card-image class="cursor-pointer max-h-28  w-28" [src]="endpoint + '/' + product?.image?.id"  alt="Photo of a Shiba Inu">
  
    <mat-card-content class="mt-3" >
      <!-- <a class="text-sm mt-3 cursor-pointer hover:underline mb-0 font-semibold"  [routerLink]="['/detalles', product?.path]" >
       {{product?.name}}
      </a> -->
       <a class="text-sm mt-3 cursor-pointer hover:underline mb-0 font-semibold"  [routerLink]="['/detalles', product?.path]" >
       {{product?.name}}
      </a>
      <p class="text-md m-0">₡<span > {{product?.price}}</span></p>
    </mat-card-content>

</mat-card>