
   <mat-toolbar class="px-0"   style="background-color: rgb(39, 38, 38); padding: 35px 0px !important;">
   
   <div class="flex flex-1 relative justify-between items-center" style="margin:0 5%;" >
    <div id="sandwich"class="md:hidden" fxHide.gt-md>
      <button mat-raised-button color="primary" id="sandwich"  (click)="onToggleSidenav()">
          <mat-icon >menu</mat-icon>
      </button>
    </div>
    <div >
      <img src="../../../../assets/images/quebinFinalTransparent.png" class="h-6 lg:h-6 sm:h-5" alt="">
    </div>
    <div class="md:block hidden absolute left-0 right-0 ml-auto mr-auto w-56"  >
      <nav>
        <ul>
          <a href="
          "> <li>Inicio</li></a>
         
          <a href="
          "> <li>Productos</li></a>
          <a href="
          "> <li>Acerca de</li></a>
        </ul>
      </nav>
    </div>
    <div class="md:flex hidden  items-center"   >
    
      <form class="input-group flex-row flex flex-wrap items-center">
        <button class="btn px-2.5 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-500 hover:shadow-lg focus:bg-blue-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex items-center" type="button" id="button-addon2">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
          </svg>
        </button>
          <input type="search" class=" form-control block px-2 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Buscar" aria-label="Search" aria-describedby="button-addon2">
        

      </form>
     
    </div>
   </div> 
  

 </mat-toolbar>


