
   <mat-toolbar   style="background-color: rgb(39, 38, 38);;padding: 20px 0;">
   
   <div class="flex flex-1 justify-between items-center" style="margin:0 5%;" >
    <div id="sandwich"class="md:hidden" fxHide.gt-md>
      <button mat-raised-button color="primary" id="sandwich"  (click)="onToggleSidenav()">
          <mat-icon >menu</mat-icon>
      </button>
    </div>
    <div >
      <img src="../../../../assets/images/quebinFinalTransparent.png" class="h-7" alt="">
    </div>
    <div class="md:block hidden" fxHide="true" fxShow.gt-md="true"  >
      <nav>
        <ul>
          <a href="
          "> <li>Inicio</li></a>
         
          <a href="
          "> <li>Productos</li></a>
          <a href="
          "> <li>Acerca de</li></a>
        </ul>
      </nav>
    </div>
    <div class="md:block hidden"  >
      <form class="flex items-center">
      <button mat-raised-button color="primary" class="mr-1 p-0 h-1 flex justify-center"  > 
      <mat-icon style="color: white;" class="text-sm" >search</mat-icon>
      </button>
      <input type="text" name="price" id="price" class="block p-0.5 border-gray-300  focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
      </form>
     
    </div>
   </div> 
  

 </mat-toolbar>


