/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { min-height: 100%;margin: 0;}
body { margin: 0; font-family: 'Rubik', sans-serif; }

// OWL CAROUSEL
.owl-prev, .owl-next {
  
    width: 3rem;
    height:3rem;
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    border:0px solid black;
}
.owl-prev { left:-1.5rem;  }
.owl-next { right: -1.5rem; }
.owl-prev i, .owl-next h1 {transform : scale(2,5); color: #ccc;}

.owl-theme .owl-nav [class*=owl-]{
    background: #010101b1;
    font-size: 1.5rem !important;
}
//  OWL CAROUSEL 
