<div class="mx-auto text-center min-h-screen my-12 md:my-24 w-11/12">
    <h1 class="mb-12 text-4xl text-center font-semibold">Busca productos en nuestra tienda</h1>
    <div class="mx-auto my-10">
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Buscar producto</mat-label>
            <input matInput name="search" id="search"/>
            <mat-icon matPrefix fontIcon="search"/>
        </mat-form-field>
        <span class="text-start block text-sm">Encontramos 7 productos que coinciden con "Funko pop"</span>
    </div>
    <div class="grid-container">
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
    </div>
</div>
