
<!-- Componente Background -->

<div id="home-component" >


<div class="bg-contain md:bg-cover  md:bg-[url('assets\images\backgroundLanding.png')]" style="margin:0 5%;"  style="background-repeat: no-repeat;">


<div  class="flex md:py-48 py-10 justify-center flex-col md:flex-row  md:h-screen" >
    
<div > 
<h1 class="text-4xl md:text-8xl font-bold text-center">Bienvenido</h1>
<span class="mx-5 md:mx-0 flex justify-center text-center md:text-start ">Encuentra tus productos favoritos en Geek House CR, linea POP, videojuegos y mucho más!</span>
</div>

<img src="../../assets/images/BackgroundLandingMobile.png" class="block md:hidden" alt="">
</div>
</div>
<!-- Componente background -->

<!-- Componente lo mas nuevo  -->

<div class="md:mx-20 mx-3 pt-9" >
    <div class="flex items-center justify-between mb-5">

        
        <h1 class="text-3xl   font-semibold">
            Lo nuevo
        </h1>
        <a routerLink="/" class="hover:underline">Ver todo</a>
</div>
<div class="relative">
    <owl-carousel-o  class="flex flex-wrap gap-2 md:gap-5 mb-10 justify-center md:justify-start" [options]="customOptions">

        <ng-container *ngFor="let _ of [].constructor(10)">
            <ng-template carouselSlide  >
                <div class="flex justify-center">
               <app-product-card></app-product-card>
            </div></ng-template>  
        </ng-container>
       
      
      
       

      </owl-carousel-o>
</div>
<mat-divider></mat-divider>
</div>
<!-- Componente lo mas nuevo  -->


<!-- Componente categorias  -->
<div class="md:mx-20 mx-3 mt-10 ">
    <h1 class="text-3xl  text-center  font-semibold">
        Categorias
    </h1>
</div>
<!-- componente categorias -->
</div>